body {
    text-align: center;
    
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.animate-me {
    
    animation: 4s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
      color: red;
    }
    25% {
      background: green;
    }
    50% {
      background: yellow;
    }
    75% {
      background: yellow;
    }
    100% {
      background-color: red;
    }
  }
  @-webkit-keyframes bgcolorchange {
      0%   {background: red;}
      25%  {background: yellow;}
      75%  {background: green;}
      100% {background: blue;}
  }